*{
    
    padding: 0;
    margin: 0;
    box-sizing:'Poppins',sans-serif;

}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    /* min-height:100vh; */
      /* background-image: url("image.png"); */
    background-size:cover;
    background-position:center;
    background-color:#c12121;

}
header{
    background-color:#040d04;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10px;
    background-color:rgba(4, 3, 5, 0.1);
    backdrop-filter: blur(100000px);
    display:flex;
    justify-items:center;
    z-index:99;
    display:block;
    list-style-type:disc;
    margin-block-end:1em;
    margin-inline-start:0px;
    margin-inline-end:0px;
    padding-inline-start:40px;

    
}
header .navigation ul li a{
    position:relative;
    font-size:1.1em;
    color:black;
    text-decoration:none;
    font-weight :500;
    margin-left:40px;
    padding:7px 13px;
    border-radius:3px;
    text-transform:uppercase;

}
header .navigation ul{
    float:right;
    margin-right:60px;

}

header .navigation ul li{
    display:inline-block;
    line-height:50px;
    margin: 0  5px ;
    
}
header .navigation ul li a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-6px;
    width:100%;
    height:3px;
    border-radius: 5px;
    transform-origin:right;
    transform:scalex(0);
    transition:transform .5s;
    box-shadow:0 0 10px rgba(255,255,255,0.8);
    background:linear-gradient(to right,#fff,#f3f3f3);
}

header .navigation ul li a:hover::after{
    transform-origin:left;
    transform:scaleX(1);
    
}

header .navigation ul li .btnLogin-popup{
    width:130px;
    height:50px;
    background:transparent;
    border:2px solid #fff;
    outline:none;
    border-radius:6px;
    cursor:pointer;
    font-size:1.8em;
    color:black;
    font-weight:500;
    margin-left:40px;

}

header .navigation ul li .btnLogin-popup:hover{
    background-color:black;
    color:#fff;
}
ul li a:active,ul li a:hover{
    background:white;
    transition:.5s;

}

.check_btn{
    font-size:25px;
    color:white;
    float:left;
    line-height:50px;
    margin-right:10px;
    cursor:pointer;
    display:none;

}
#check{
    display:none;

}
@media(max-width:858px){
    .check_btn{
        display:block;
    }
    ul{
        position:fixed;
        width:50%;
        height:70vh;
        background:#f1f3f2;
        top:100px;
        left:-100%;
        text-align:left;
        transition:all .5s;
        border :2px solid #eae7e7;
        border-radius:6px;
        box-shadow:0 0 40px rgba(0,0,0,0.5);
        padding:40px 0 0 0 ;
        
    }
header .navigation ul li{
    display:block;
    margin:5-px 0;
    line-height:30px;
    margin:0 0 45px 0;

}    
header .navigation ul li a{
    font-size:20px;
}  
#check:checked ~ul{
    left:0;
}

}
.logo{
    color:#05190A;
    user-select:none;
    font-size:50px;
    line-height:50px;
    padding:0 10px;
    font-family:'poppins' ,sans-serif;
    font-weight:bold;
    
}
.cover_box{
    position:relative;
    width:400px;
    height:440px;
    background:transparent;
    border:2px solid #f6f5f5;
    border-radius:20px;
    backdrop-filter: blur(100px);
    box-shadow:0 0 40px rgba(234, 230, 230, 0.944);
    display:flex;
    justify-content:center;
    align-items:center;
     /* transform:scale(0);  */
 overflow:hidden;  
    transition:transform .5s ease,height .2s ease,border-color 0.5s ease;

}

.cover_box :hover{
    border-color:#fff;
    animation:border-glow 1s infinite alternate;

}
.cover_box .active-popup{
    transform: scale(1);
}
.cover_box.active{
    height:520px;

}
.cover_box .form-box{
    width:100%;
    padding:40px;

}

.cover_box .form-box-login{
    transition:transform .50s ease;
    transform:translate(0);

}
.cover_box .form-box.register{
    position:absolute;
    transition:translateX(-400px);

}

.cover_box .form-box.register{
    position:absolute;
    transform:translate(400px);
}

.cover_box.active .form-box.register{
    transition : transform .50s ease;
    transform:translateX(0);

}

.cover_box .icon-close{
    position:absolute;
    top:5px;
    right:5px;
    width:42px;
    height:44px;
    background:#05190A;
    font-size:3em;
    color:#fff;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    z-index:1;
    display:flex;

}

.form-box h2{
    font-size:2em;
    color:#05190A;
    text-align:center;

}
.input-box{
    position:relative;
    width:100%;
    height:50px;
    margin:30px 0;
}

.input-box label{
    position:absolute;
    top:50%;
    left:10px;
    transform:translateY(-50%);
    font-size:1em;
    color:#05190A;
    font-weight:500;
    pointer-events:none;
    transition:.5s;

}
.input-box input:focus~label,
.input-box input:valid~label{
    top:-10px;
}

.input-box input{
    width:90%;
    height:100%;
    background:transparent;
    border:1px solid #05190A;
    border-radius:10px;
    outline:none;
    font-size:1em;
    color:#05190A;
    font-weight:600;
    padding:0 35px 0 5px;
}

.input-box .icon{
    position:absolute;
    right:8px;
    font-size:1.2em;
    color:#05190A;
    line-height:57px;

}
.remember-forgot {
    font-size:.9em;
    color:#05190A;
    font-weight:500;
    margin:-15px 0 15px;
    display:flex;
    justify-content:space-between;
}

.remember-forgot label input{
    accent-color:#05190A;
    margin-right:3px;
}
.remember-forgot a{
    color:#05190A;
    text-decoration:underline;
}

.remember-forgot label input:hover{
    text-decoration:underline;

}
.btn{
    width:100%;
    height:45px;
    background-color:#05190A;
    border:none;
    outline:none;
    border-radius:100px;
    cursor:pointer;
    font-size:1em;
    color:#fff;
    font-weight:500;
}
.login-register{
    font-size:.9em;
    color:#c9c8c8;
    text-align:center;
    font-weight:500;
    margin:25px 0 10px;


}

.login-register p a:hover{
    text-decoration:underline;
}
.login-register p{
    color:#fff;
   font-size:1.5em;
    font-weight:100%;
}
.footer{
    position: absolute;
    bottom:0;
    left:55px;
    width:100%;
    color:black;
    padding:15px 0;
    text-align:center;
    background-color:rgb(255,255,255,0.2);
    backdrop-filter:blur(10px);
    font-size:1.5em;
}

.footer-content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:0 10px;

}
.social-icons a{
    color:black;
    font-size: 1.5em;
    margin:10px 10px 10px 10px ;
    text-decoration:none;
    transition: color 0.3s ease-in-out;

}